body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  
.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    color:white;
    background-image: linear-gradient(79deg, #7439db, #c66fbc, 48%, #f7944d);
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction:  column;
    font-size: 20px;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding:5rem;
      border: 1px solid white;
      border-radius: 10px;	
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding:0.25rem, 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding:1rem;
    border: none;
    border-radius: 10px;
    font-size: 20px;
  }
  
  button {
    border: none;
    background-color: white;
    padding:20px;
    border-radius:10px;
    cursor: pointer;
    color:#7439db;
    font-size: 20px;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
    font-size: 20px;
  }

  .question {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
  }

  .option {
    padding: 10px;
  }

  .result {
    color:blue
  }

  #loading {
    margin-top: -50px;
    visibility:hidden;
  }